body {
  background: linear-gradient(to right, #403a3e, #be5869);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}
.form-container {
  width: 40%;
  margin: 20px auto;
  padding: 20px 50px;
  border-radius: 10px;
}
@media (max-width: 650px) {
  .form-container {
    width: 90%;
  }
}
.form-select {
  width: 90%;
}
.form-control {
  margin: 10px;
  width: 90%;
}
.link {
  margin: 10px;
}
.loggeduser {
  display: none;
}
.link-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media (min-width: 651px) and (max-width: 1000px) {
  .form-container {
    width: 60%;
  }
}
